exportPattern("^[[:alpha:]]+")
useDynLib(locits)
S3method(plot, tos)
S3method(plot, lacf)
S3method(plot, lacfCI)
S3method(print, tos)
S3method(print, lacf)
S3method(print, lacfCI)
S3method(summary, lacf)
S3method(summary, lacfCI)
S3method(summary, tos)
