export(AutoBestBW)
export(Cvarip2)
export(EstBetaCov)
export(HwdS)
export(Rvarlacf)
export(StoreStatistics)
export(covI)
export(covIwrap)
export(ewspec3)
export(ewspecHaarNonPer)
export(getridofendNA)
export(hwt)
export(hwtos2)
export(idlastzero)
export(lacf)
export(littlevar)
export(mkcoef)
export(plot.hwtANYN)
export(plot.lacf)
export(plot.lacfCI)
export(plot.tos)
export(print.hwtANYN)
export(print.lacf)
export(print.lacfCI)
export(print.tos)
export(runmean)
export(summary.hwtANYN)
export(summary.lacf)
export(summary.lacfCI)
export(summary.tos)
export(tvar1sim)
export(varip2)
export(whichlevel)
export(zeropad)
useDynLib(locits)
S3method(plot, tos)
S3method(plot, hwtANYN)
S3method(plot, lacf)
S3method(plot, lacfCI)
S3method(print, tos)
S3method(print, hwtANYN)
S3method(print, lacf)
S3method(print, lacfCI)
S3method(summary, lacf)
S3method(summary, lacfCI)
S3method(summary, tos)
S3method(summary, hwtANYN)
import(igraph, wavethresh)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "lines", "persp",
	"plot", "points", "polygon", "segments", "text")
importFrom("stats", "filter", "p.adjust", "p.adjust.methods", "pnorm",
             "qnorm", "rnorm", "sd", "ts.plot", "tsp", "var")
